#sidebar-left,
#main,
#sidebar-right {
&nbsp; float: left;
&nbsp; display: inline;
&nbsp; position: relative;
}

#sidebar-left,
#sidebar-right {
&nbsp; width: 20%;
}

body.one-sidebar #main {
&nbsp; width: 80%;
}

body.two-sidebars #main {
&nbsp; width: 60%;
}

body.sidebar-left #main-squeeze {
&nbsp; margin-left: 20px;
}

body.sidebar-right #main-squeeze {
&nbsp; margin-right: 20px;
}

body.two-sidebars #main-squeeze {
&nbsp; margin: 0 20px;
}